div.nav {
    background-color: rgba(255, 255, 255, 0.5); /* Полупрозрачный белый */
    position: relative; /* или absolute, в зависимости от вашей структуры */
    z-index: 10; /* Убедитесь, что header находится поверх слайдера */
}